- if @current_user
  - if @current_user.is_loving?(@listing)
    = link_to "Remove From Love", remove_from_love_listing_path(@listing), :class => "unfollow_listing listing-remove-love-btn", :method => :delete, :remote => :true
  - else
    = link_to "Love", love_listing_path(@listing), :class => "follow_listing listing-love-btn", :method => :post, :remote => :true
