<%= sponsored_payment(@listing.id) %>
<a class="icon-with-text-container make-payment" style="cursor: pointer">
  <i class="icon-star icon-part"></i>
  <div class="text-part"><%= t('listings.edit_links.promote_listing') %></div>
</a>

