@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

#blog-details {
  font-family: 'Work Sans', sans-serif;
  .blog-title {
    h1 {
      color: #00725F;
      font-weight: 700;
    }
  }

  .blog-author {
    margin-top: 30px;
    display: flex;
    justify-items: left;
    .author-avatar {
      img {
        border-radius: 100%;
        width: 60px;
        height: 60px;
      }
    }
    .author-name {
      margin-left: 10px;
      color: #00725F;
      font-size: 16px;
      font-weight: 600;
      .blog-info {
        font-size: 13px;
        color: #999999;
      }
    }
  }
  .blog-image {
    margin-top: 15px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-content {
    margin-top: 50px;
  }
}

.blog-post-item {
  font-family: 'Work Sans', sans-serif;

  .header-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .details {
    padding: 18px;
    border-bottom: 1px solid #efecec;

    h2 {
      color: #00725F;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
    }

    p {
      color: #2D2F2E;
      margin: 8px 0;
      font-size: 17px;
    }

    .read-more {
      color: #4BC9F0;
      text-decoration: underline;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      &:hover {
        color: #0b4868;
      }
    }
  }

  .author {
    padding: 18px;

    .author-avatar {
      width: 50px;
      height: 50px;
      float: left;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .author-bio {
      margin-left: 65px;

      .name {
        color: #00725F;
        font-weight: 600;
        font-size: 17px;
        line-height: 150%;
      }

      .ext-info {
        margin-top: 7px;
        span {
          font-size: 12px;
          line-height: 150%;
          color: #626665;
        }
      }
    }
  }
}