@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "mixins/all";

.listing-love-btn {
  @include button(#4a90e2);
  padding-bottom: 0;
  margin: 0 !important;
  height: 25px;
  display: inline-block;
}

.listing-love {
  color: gray;
  font-size: 20px;

  &:hover, &.active {
    color: #ff4e36;
  }

  &.right-side {
    margin-left: auto;
  }

  &.listing-over {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 5;
  }
}

.listing-remove-love-btn {
  @include button(#ff4081);
  padding-bottom: 0;
  margin: 0 !important;
  height: 25px;
  display: inline-block;
}

.listing-details-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.listing-description-content {
  ol {
    padding-left: 1.5em
  }

  blockquote {
    border-left: .25em solid #c3c3c3;
    padding: 0 1em;
    color: gray;
  }

  hr {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 1em;
  }
}

.listing-description-youtube-wrapper {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  margin-bottom: lines(1);
}

.listing-description-youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Social buttons
.listing-social {
  @include clearfix();
}

.listing-fb-like-button,
.listing-tweet-button {
  float: left;
  margin-right: lines(1);
}

.listing-tweet-button {
  margin-left: -23px;
}

// Listing price
.listing-price {
  clear: both; // Price floats to left
}

.listing-price-amount {
  @include huge-type;
  color: $light-body;
  display: block;
  float: left;
  margin-right: lines(0.25);
}

.listing-price-quantity {
  vertical-align: top;
  $hugeTypeLineHeight: lines(2);
  $hugeTypeFontSize: em($huge-type);
  $hugeTypeMargin: ($hugeTypeLineHeight - $hugeTypeFontSize) / 2; // Calculate the top margin based on the huge type
  $positionFineTune: em(2); // hugeTypeMargin calculates the correct position, but due to the different font size, some finetuning is needed
  // Use position relative, since the element is inline (no top-margin/padding should be used)
  position: relative;
  top: $hugeTypeMargin + $positionFineTune;
  color: $aside;
}

.listing-paypal-fee-info-link {
  cursor: pointer;
}

// Listing quantity input
.quantity-wrapper {
  width: 100%;
  margin-bottom: lines(0.75);
}

.hide_unit {
  display: none;
}

.listing-gads {
  padding: 0;
  margin-left: -15px;
  min-width: 252px;
  margin-right: 10px;
  min-height: 300px;
  margin-bottom: 0;
}

.listing-container {
  padding-left: 0;

  .home-fluid-thumbnail-grid-narrow, .home-listings {
    /*height: calc(100vh - 168px);*/
    /*overflow-x: hidden;*/

    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      width: 5px;
      background-color: #cccccc;
    }
  }
}

.quantity-label-wrapper {
  float: left;
  width: 100%;
}

.quantity-label {
  float: left;
  width: auto;
  font-weight: bold;
  padding: lines(0.35) lines(0.35) 0 0;
  margin: auto em(100) auto 0;
}

.quantity-input {
  margin-left: em(-100);
  width: em(100);
  float: left;
}

.quantity-input input {
  width: 100%;
}

.quantity-input input:focus {
  outline-width: 0;
}

// Listing author
$listing-author-avatar-width: 108;
$listing-author-avatar-height: 108;

.listing-author {
  position: relative;
}

.listing-author-avatar {
  width: em($listing-author-avatar-width);
  height: em($listing-author-avatar-height);
  position: absolute;
  top: 0;
  left: 0;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.listing-author-avatar-image {
  @include border-radius($default-border-radius);
  display: block;
  width: 100%;
  height: 100%;
}

.listing-author-details {
  width: 100%;
  padding-left: em($listing-author-avatar-width);
  min-height: em($listing-author-avatar-height);
  padding-left: em($listing-author-avatar-width) + lines(0.75);
  margin-top: lines(0.25); // Author box looks a bit better when given a bit more room
  margin-bottom: lines(0.75); // Author box looks a bit better when given a bit more room
}

.listing-author-name {
  @include big-type;
  height: em($listing-author-avatar-width, 22) / 2;
  line-height: em($listing-author-avatar-width, 18) / 2;
}

.listing-author-name-link {
  display: block;
  @include ellipsis;
}

.listing-author-contact-button {
  @include grey-button;
  width: 100%;
}

// Listing author activity

.listing-author-activity {
  @include clearfix();
}

.listing-author-activity-icon {
  font-size: 32px;
  line-height: (em(32, 32) * 1.5);
  display: block;
  float: left;
  width: em(32, 32);
}

.listing-author-activity-item {
  float: left;
  width: lines($right-column-1-3) - 0.75em - em(32) - lines(1); // FIXME!!!
  margin-left: lines(0.5);
}

.listing-author-activity-description {
  @include small-type;
  color: $border;
}

// Map
.listing-map {
  width: 100%;
  height: lines(8);
}

.listing-view-admin-links {
  margin: lines(0.5) 0; // Some top & bottom margin to give links some space
}

.promote-listing-link {
  form {
    display: none;
  }
}

.promoted-text {
  font-size: 15px;
  position: absolute;
  right: 7px;
  top: 7px;
  color: #ffffff;
  background: #01a58ab5;
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 4px;
  line-height: 25px;

  &.down {
    top: unset;
    bottom: 30px;
  }
}

.map-link {
  float: right;
  font-size: em(14);
  margin-top: 0.2em;
}

// Delivery options
.delivery-title {
  margin-bottom: 0;
}

.delivery-label {
  display: inline;
  width: auto;
  margin-left: lines(0.2);
}

.book-button {
  margin-top: 0;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

// Transaction action button
.enabled-book-button {
  @include big-button($link);
  @extend .book-button;
}

.disabled-book-button {
  @include big-button($link);
  @extend .book-button;

  &, &:hover {
    background-color: $border;
  }
}

// Transaction action button
.book-button .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.checkbox-option {
  &.selected {

  }

  &.not-selected {
    color: $border;
  }
}

.checkbox-option-checkmark {
  display: inline-block;
  width: 20px;
  color: $link;
}

.listings-how-paypal-works-link {
  font-size: em(14);
}

@media (max-width: 480px) {
  .checkbox-group {
    .col-4 {
      margin-bottom: 0;
    }
  }
}

.googlemap {
  .embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }

  img.static-map {
    width: 100%;
  }
}

.googlemap .embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

.buyer-fees {
  font-size: 15px;
  color: gray;
}

.not-reported {
  font-size: 22px;
  color: gray;
  padding-left: 20px;
}

.reported {
  font-size: 22px;
  color: red;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .listing-container {
    .home-fluid-thumbnail-grid-narrow, .home-listings {
      height: auto;
    }
  }

  .listing-gads {
    margin: 0;
    min-width: auto;
    padding: 5px;
  }
}




//=====================Custom Listings Page=================================
.page-content.no-cover-photo.all-listings-page{
  width: 100%;
  padding-top: 0px;
  .wrapper{
    //max-width: calc(100% - 200px);
    //margin-left: auto;
    max-width: 100%;
    margin: 0;
    padding: 48px;
    @media screen and (max-width: 767px){
      padding: 16px;
    }
  }
  .home-map{
    width: 100%;
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 12px;
    .map{
      border-radius: 8px;
    }
  }
  .custom-toolbar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 12px;
    border:  1px solid #ccc;
    border-radius: 10px;
    @media screen and (max-width: 767px){
      padding: 8px 12px;
      border-radius: 8px;
      margin-bottom: 16px;
    }
    .button{
      margin: 0;
      border-radius: 25px;
      margin-right: 12px;
      background: none;
      font-weight: 600;
      color: #555454;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: .5px;
      width: 120px;
      transition: all .2s;
      padding: 6px 7px 8px;
      line-height: normal;
      i{
        margin-left: 6px;
        @media screen and (max-width: 680px){
          display: none;
        }
      }
      &:hover{
        background: #01a58a;
        border-color: #01a58a;
        color: #fff;
        @media screen and (max-width: 680px){
          background: #dcdcdc;
        }
      }
      &.toggled{
        background: #01a58a;
        border: none;
        /*border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;*/
        @media screen and (max-width: 680px){
          background: #dcdcdc;
        }
      }
      @media screen and (max-width: 680px){
        width: auto;
        border: none;
        border-radius: 4px;
        background: #f1f1f1;
        margin-right: 6px;
        padding: 7px;
      }
      .icon_img{
        height: 22px;
        display: none;
        @media screen and (max-width: 680px){
          display: block;
        }
      }
      .hide-phone{
        @media screen and (max-width: 680px){
          display: none;
        }
      }
    }
    .custom-filterbar{
      cursor: pointer;
      display: flex;
      background: #f1f1f1;
      border-radius: 4px;
      padding: 6px;
      margin-left: 6px;
      img{
        height: 24px;
      }
    }
    .right-toolbar-content{
      margin-left: auto;
      display: flex;
      align-items: center;
      .map-text{
        margin-right: 6px;
      }
      .sort-by{
        margin-left: 24px;
        color: #555454;
        position: relative;
        @media screen and (max-width: 767px){
          //display: none;
          margin-left: 14px;
        }
        &:after{
          content: "\f0dc";
          font-family: FontAwesome;
          position: absolute;
          right: 0;
          top: 1px;
        }
        select{
          cursor: pointer;
          color: #555454; 
          min-height: auto;
          padding: 0 14px 0 0;
          border: none;
          background: none;
          outline: none;
          appearance: none;
          box-shadow: none;
        }
      }
    }
    .show-sm-device{
      display: none;
      @media screen and (max-width: 992px){
        display: block;
      }
    }
    .sm-device-hid{
      @media screen and (max-width: 992px){
        display: none;
      } 
    }
    .active-order-type{
      background: #01a58a;
      border-color: #01a58a;
      color: #fff;      
    }    
  }
  .custom-all-category{
    .toggle-menu{
      margin-top: 12px;
      min-width: 200px;
      background: #fff;
      color: #000;
      border: 1px solid #ccc !important;
      border-radius: 8px;
      position: absolute;
      @media screen and (max-width: 680px){
        left: 16px;
        border-radius: 4px;
      }
      a {
        color: #000;
        padding: 6px 12px;
        &:first-child{
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          @media screen and (max-width: 680px){
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
        }
        &:last-child{
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          @media screen and (max-width: 680px){
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
        &:hover{
          color: #fff;
        }
      }
      &:before, &:after{
        content: "";
        position: absolute;
        line-height: 0;
        left: 86px;
        top: -8px;
        width: 15px;
        height: 15px;
        @media screen and (max-width: 680px){
          left: 22px;
        }
      }
      &:before{
        background: #ffffff;
        transform: rotate(45deg);
      }
      &:after{
        border-top: 1px solid #ccc;
        transform: rotate(45deg);
        border-left: 1px solid #ccc;
      }
    }
  }
  .home-fluid-thumbnail-grid-narrow{
    border:  1px solid #ccc;
    border-radius: 12px;
    padding: 32px 24px;
    @media screen and (max-width: 767px){
      border-radius: 8px;
      padding: 24px 16px;
    }
  }
  .home-loading-more{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*CheckBox Design*/
  .custom-filter-checkbox-label {
    position: relative;
    margin-bottom: 10px;
    input{
      border:  none;
      margin-right: 8px;
      &:before{
        content: "";
        width: 18px;
        height: 18px;
        //background: #01a58a;
        background: #fff;
        display: block;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
      &:after{
        content: "";
        width: 5px;
        height: 10px;
        position: absolute;
        top: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        left: 6px;
        display: block;
        z-index: 9;
        transition: all .2s;
        transform: rotate(45deg);
      }
      &:checked{
        &:after{
          /*transform: scale(1);*/
        }
        &:before{
          background: #01a58a;
          border-color: #01a58a;
        }
      }
    }
  }
}

/*Switch Button*/
.switch {
  position: relative;
  width: 52px;
  height: 24px;
  margin: 0;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #717171;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 5px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
     border-radius: 34px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     span{
      color: #fff;
      font-size: 16px;
      &.off{
        padding-right: 8px;
      }
      &.on{
        padding-left: 8px;
      }
     }
     &:before {
        border-radius: 50%;
      }
    }
  }
  input:checked + .slider {
    background-color: #01a58a;
    &:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }
  }
  .map-view-active{
    position: absolute;
    left: 0;
    width: 60px;
    height: 28px;
    z-index: 99;
  }
}

/*Switch Button End*/

/*Filter Popup*/
.filter-popup{
  background: #ffffff0d;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: flex-start;
  justify-content: center;
  z-index: 99;
  padding: 32px 16px 16px;
  &.show{
    display: flex;
  }
  .popup-content{
    width: 700px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 20px #0003;
    overflow: hidden;
    .popup-head{
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: #01a58a;
      color: #fff;
      span{
        font-size: 20px;
        font-weight: 600;
      }
      .close{
        cursor: pointer;
      }
    }
    .popup-body{
      padding: 24px;
      max-height: 85vh;
      overflow: auto;
      @media screen and (max-width: 680px){
        padding: 0;
      }
      #filters{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        .row{
          width: 40%;
          @media screen and (max-width: 680px){
            width: 100%;
          }
          .custom-filter-title{
            padding-bottom: 6px;
            margin-bottom: 8px;
            @media screen and (max-width: 680px){
              padding: 16px 16px 6px;
            }
          }
          .custom-filter-options{
            @media screen and (max-width: 680px){
              padding: 0 16px 0px;
            }
          }
        }
        button{
          margin: 16px auto 0;
          border-radius: 25px;
          font-weight: 600;
          padding: 6px 24px 8px;
          text-transform: capitalize;
          @media screen and (max-width: 680px){
            margin: 16px auto;
          }
        }
      }
    }
    .btn-group-mobile{
      width: 100%;
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      @media screen and (max-width: 992px){
        display: flex;
      }
      .button{
        margin: 10px 0 0;
        padding: 4px 20px;
        border-radius: 25px;
        background: none;
        color: #373737;
        border: 1px solid #ccc;
      }
    }
  }
}


/*=========Animation=============*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}