<div style="text-align: center; margin-top: 20%;">
  <h1 style="color: #00725F; font-family: 'Work Sans', sans-serif;"> Successfully unsubscribe from BoxGiver! </h1>
  <p> Redirecting... </p>
</div>
<script type="text/javascript">
    setTimeout(function () {
        window.location.href = '/';
    }, 5000);
</script>
