<div class="section">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="section-header">Featured Listings</h2>
      <a class="view-all-button" href="/s">View All</a>
    </div>
    <div class="landing-listings">
      <div class='col-lg-12 p0'>
        <div class='row'>
          <% @featured_listings.each do |listing| %>
            <%= render "landing_listing", listing: listing %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
