<div class="section mt-0">
  <div class="container">
    <div id="feature-list">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="feature-item">
            <div class="icon">
              <svg width="27" height="36" viewBox="0 0 27 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.8322 8.69134L25.2296 6.03584C25.1487 5.90236 25.0039 5.82025 24.8481 5.82025H15.2495C15.093 5.82025 14.949 5.90236 14.8685 6.03584L13.2368 8.73947C13.2291 8.75201 13.2259 8.76577 13.2198 8.77911C13.2141 8.79084 13.2089 8.80217 13.2044 8.81471C13.1862 8.86406 13.1737 8.91502 13.1737 8.9668C13.1737 8.96761 13.1733 8.96882 13.1733 8.96963V11.4338L9.78645 8.3281L9.78564 8.33094C9.13481 7.21979 7.90394 6.57058 6.58529 6.73723C4.79865 6.96213 3.53339 8.59224 3.75789 10.3785L5.26139 21.28L5.28161 21.2771L0.653404 32.8942C0.223428 33.9863 0.730257 35.1537 1.76252 35.5602C2.76486 35.9554 3.89137 35.4866 4.32863 34.5154L8.50016 24.2692L10.3309 34.4563C10.578 35.4926 11.5961 36.1641 12.6547 35.9651C13.7452 35.7596 14.4624 34.7087 14.2452 33.5547L11.713 20.3974L11.6985 20.3957L10.8325 14.1043L13.1725 16.1571V18.7147C13.1725 18.9606 13.3723 19.1604 13.6182 19.1604H26.4791C26.7246 19.1604 26.9248 18.961 26.9248 18.7147V8.98945C26.9252 8.98257 26.9289 8.97691 26.9289 8.97003C26.9284 8.86446 26.8925 8.76779 26.8322 8.69134ZM20.4942 6.71135H24.597L25.6903 8.52428H20.4942V6.71135ZM15.4999 6.71135H19.6027V8.52428H14.4066L15.4999 6.71135ZM26.0329 18.2693H14.0636V16.9199H20.2309L20.4242 16.9187C21.4569 16.8993 22.2327 16.0936 22.2141 15.1183C22.1963 14.1718 21.4367 13.4154 20.5003 13.3887H15.3041L14.064 12.2513V9.41498H26.0333V18.2693H26.0329ZM8.90223 6.21827C10.6193 6.21827 12.0112 4.82641 12.0112 3.10893C12.0112 1.39226 10.6197 0 8.90223 0C7.18515 0 5.79289 1.39226 5.79289 3.10934C5.79329 4.82641 7.18556 6.21827 8.90223 6.21827Z" fill="#DDFFF9"/>
              </svg>
            </div>
            <div class="body">
              <div class="title">Shipping facility</div>
              <div class="description">
                There’s always something<br>
                on sale!
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="feature-item">
            <div class="icon">
              <svg width="25" height="34" viewBox="0 0 25 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.0604 21.7909C17.1738 21.7531 17.325 21.8287 17.325 21.9799V33.6219C17.325 33.9243 16.9848 34.1133 16.7203 33.9243L12.7514 31.354C12.638 31.2784 12.449 31.2784 12.3356 31.354L8.36674 33.9243C8.10215 34.0755 7.76196 33.9243 7.76196 33.6219V21.9799C7.76196 21.8665 7.91316 21.7531 8.02655 21.7909C8.44234 21.9421 8.85812 22.2067 9.12272 22.5469L10.3701 24.021C11.4662 25.2684 13.583 25.2684 14.6791 24.021L15.9265 22.5469C16.2289 22.2067 16.6069 21.9421 17.0604 21.7909Z" fill="#DDFFF9"/>
                <path d="M23.4106 9.99776L22.0876 8.97719C21.4828 8.48581 21.1426 7.72983 21.256 6.93606L21.4828 5.27292C21.6718 3.83657 20.4245 2.62701 18.9881 2.7782L17.325 3.005C16.5312 3.11839 15.7752 2.7782 15.2838 2.17343L14.2633 0.850471C13.3939 -0.28349 11.6552 -0.28349 10.748 0.850471L9.72743 2.17343C9.23605 2.7782 8.48008 3.11839 7.68631 3.005L6.02316 2.7782C4.58681 2.58921 3.37725 3.83657 3.52845 5.27292L3.75524 6.93606C3.86864 7.72983 3.52845 8.48581 2.92367 8.97719L1.60071 9.99776C0.466754 10.8671 0.466754 12.6059 1.60071 13.513L2.92367 14.5336C3.52845 15.025 3.86864 15.781 3.75524 16.5747L3.52845 18.2379C3.33946 19.6742 4.58681 20.8838 6.02316 20.7326L7.68631 20.5058C8.48008 20.3924 9.23605 20.7326 9.72743 21.3374L10.748 22.6603C11.6174 23.7943 13.3561 23.7943 14.2633 22.6603L15.2838 21.3374C15.7752 20.7326 16.5312 20.3924 17.325 20.5058L18.9881 20.7326C20.4245 20.9216 21.634 19.6742 21.4828 18.2379L21.256 16.5747C21.1426 15.781 21.4828 15.025 22.0876 14.5336L23.4106 13.513C24.5823 12.6059 24.5823 10.8671 23.4106 9.99776ZM12.5245 19.9766C7.98869 19.9766 4.28442 16.3101 4.28442 11.7365C4.28442 7.20065 7.9509 3.49638 12.5245 3.49638C17.0604 3.49638 20.7647 7.16285 20.7647 11.7365C20.7647 16.2723 17.0604 19.9766 12.5245 19.9766Z" fill="#DDFFF9"/>
                <path d="M12.5248 4.81934C8.70716 4.81934 5.60767 7.91883 5.60767 11.7365C5.60767 15.5542 8.70716 18.6537 12.5248 18.6537C16.3425 18.6537 19.442 15.5542 19.442 11.7365C19.442 7.91883 16.3425 4.81934 12.5248 4.81934ZM16.4181 10.7537L14.7172 12.4169C14.6794 12.4547 14.6416 12.5303 14.6416 12.6059L15.0573 14.9494C15.0951 15.1384 14.9061 15.2518 14.755 15.1762L12.6382 14.08C12.5626 14.0422 12.487 14.0422 12.4492 14.08L10.3325 15.1762C10.1813 15.2518 9.99232 15.1384 10.0301 14.9494L10.4459 12.6059C10.4459 12.5303 10.4459 12.4547 10.3703 12.4169L8.66936 10.7537C8.55596 10.6403 8.59376 10.4135 8.78276 10.3757L11.1263 10.0356C11.2019 10.0356 11.2775 9.99776 11.2775 9.92216L12.3358 7.76763C12.4114 7.61644 12.6382 7.61644 12.7138 7.76763L13.7722 9.92216C13.81 9.99776 13.8478 10.0356 13.9234 10.0356L16.2669 10.3757C16.4937 10.3757 16.5693 10.6025 16.4181 10.7537Z" fill="#DDFFF9"/>
              </svg>
            </div>
            <div class="body">
              <div class="title">Best quality</div>
              <div class="description">
                Every order has buyer<br>
                protection coverage
                on sale!
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="feature-item">
            <div class="icon">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.39233 7.15482C8.39233 9.89441 10.6212 12.1239 13.3614 12.1239C15.0254 12.1239 16.5388 11.3029 17.4669 9.92699C17.3145 9.39199 17.2262 8.83435 17.2262 8.25905C17.2262 7.20009 17.5 6.20463 17.9781 5.33671C17.2333 3.44351 15.4103 2.18579 13.3614 2.18579C10.6212 2.18579 8.39233 4.41523 8.39233 7.15482ZM13.9135 7.70694H12.8092C11.8961 7.70694 11.1529 6.96379 11.1529 6.05059C11.1529 5.13739 11.8961 4.39425 12.8092 4.39425V3.29002H13.9135V4.39425C14.8267 4.39425 15.5698 5.13739 15.5698 6.05059H14.4656C14.4656 5.74638 14.2182 5.49848 13.9135 5.49848H12.8092C12.5045 5.49848 12.2571 5.74638 12.2571 6.05059C12.2571 6.35481 12.5045 6.60271 12.8092 6.60271H13.9135C14.8267 6.60271 15.5698 7.34585 15.5698 8.25905C15.5698 9.17225 14.8267 9.91539 13.9135 9.91539V11.0196H12.8092V9.91539C11.8961 9.91539 11.1529 9.17225 11.1529 8.25905H12.2571C12.2571 8.56326 12.5045 8.81116 12.8092 8.81116H13.9135C14.2182 8.81116 14.4656 8.56326 14.4656 8.25905C14.4656 7.95483 14.2182 7.70694 13.9135 7.70694Z" fill="#DDFFF9"/>
                <path d="M18.0285 1.70714C16.8878 0.724926 15.4562 0.1176 13.9136 0V1.1092C15.1602 1.22238 16.3164 1.71432 17.2461 2.48948L18.0285 1.70714Z" fill="#DDFFF9"/>
                <path d="M16.122 23.1662C16.3164 23.1662 16.5008 23.2059 16.6741 23.2678V14.6697L14.3867 18.4815C14.2868 18.6477 14.1073 18.7493 13.9136 18.7493H5.63184V21.2989C6.03654 21.0775 6.49424 20.9577 6.95857 20.9577H9.81907C10.2453 20.9577 10.6721 20.8567 11.053 20.6662L12.3737 20.0064C12.573 19.9065 12.7972 19.854 13.0202 19.854C13.8169 19.854 14.4657 20.5028 14.4657 21.2995C14.4657 22.01 14.2045 22.6549 13.7866 23.1667H16.122V23.1662Z" fill="#DDFFF9"/>
                <path d="M12.8091 1.10984V0.00561523C11.245 0.125424 9.82161 0.746001 8.69751 1.71054L9.4782 2.49123C10.3986 1.72324 11.5486 1.22413 12.8091 1.10984Z" fill="#DDFFF9"/>
                <path d="M16.8418 12.124H17.2261H18.6185C18.3579 11.811 18.1365 11.472 17.946 11.1169C17.6164 11.5007 17.247 11.8386 16.8418 12.124Z" fill="#DDFFF9"/>
                <path d="M20.8513 17.6449H31.7097L29.0601 13.228H18.2017L20.8513 17.6449Z" fill="#DDFFF9"/>
                <path d="M20.197 12.1239H22.7472V11.0196C21.834 11.0196 21.0909 10.2765 21.0909 9.3633H22.1951C22.1951 9.66751 22.4425 9.91541 22.7472 9.91541H23.8515C24.1562 9.91541 24.4036 9.66751 24.4036 9.3633C24.4036 9.05908 24.1562 8.81118 23.8515 8.81118H22.7472C21.834 8.81118 21.0909 8.06804 21.0909 7.15484C21.0909 6.24164 21.834 5.4985 22.7472 5.4985V4.39427H23.8515V5.4985C24.7647 5.4985 25.5078 6.24164 25.5078 7.15484H24.4036C24.4036 6.85062 24.1562 6.60273 23.8515 6.60273H22.7472C22.4425 6.60273 22.1951 6.85062 22.1951 7.15484C22.1951 7.45905 22.4425 7.70695 22.7472 7.70695H23.8515C24.7647 7.70695 25.5078 8.4501 25.5078 9.3633C25.5078 10.2765 24.7647 11.0196 23.8515 11.0196V12.1239H26.4017C27.5871 11.1737 28.2684 9.77738 28.2684 8.25907C28.2684 5.51948 26.0395 3.29004 23.2994 3.29004C20.5592 3.29004 18.3303 5.51948 18.3303 8.25907C18.3303 9.77738 19.0116 11.1737 20.197 12.1239Z" fill="#DDFFF9"/>
                <path d="M18.7119 4.29099C18.9609 4.00389 19.2347 3.74053 19.5323 3.50367C19.3181 3.14093 19.0735 2.80359 18.8063 2.48999L18.0239 3.27234C18.2845 3.58594 18.517 3.92549 18.7119 4.29099Z" fill="#DDFFF9"/>
                <path d="M9.88029 12.1239C8.45749 11.1241 7.48135 9.53232 7.31572 7.70703H6.21094C6.33682 9.3689 7.02917 10.9126 8.19634 12.1239H9.88029Z" fill="#DDFFF9"/>
                <path d="M2.87117 23.1663H0.110596V30.8959H2.87117C3.17594 30.8959 3.42328 30.6485 3.42328 30.3437V23.7184C3.42328 23.4142 3.17594 23.1663 2.87117 23.1663Z" fill="#DDFFF9"/>
                <path d="M8.69704 3.2719L7.91635 2.49121C6.95181 3.61532 6.33123 5.03922 6.21143 6.60281H7.31565C7.43049 5.34233 7.92905 4.19228 8.69704 3.2719Z" fill="#DDFFF9"/>
                <path d="M20.0658 18.4815L17.7783 14.6697V24.8231C17.7783 25.0174 17.7386 25.2018 17.6768 25.3752H18.3305C19.2437 25.3752 19.9868 26.1183 19.9868 27.0315C19.9868 27.9447 19.2437 28.6879 18.3305 28.6879H28.8206V18.7498H20.5389C20.3446 18.7493 20.1651 18.6477 20.0658 18.4815ZM22.1953 24.2704H27.7164V25.3746H22.1953V24.2704ZM22.1953 26.4789H27.7164V27.5831H22.1953V26.4789Z" fill="#DDFFF9"/>
                <path d="M16.122 28.6872H11.1529V27.583H16.122H18.3304C18.6352 27.583 18.8825 27.3356 18.8825 27.0309C18.8825 26.7261 18.6352 26.4788 18.3304 26.4788H16.122H11.1529V25.3745H16.122C16.4267 25.3745 16.6741 25.1272 16.6741 24.8224C16.6741 24.5177 16.4267 24.2703 16.122 24.2703H11.4941H10.6008H9.49658V23.1661H10.6008H11.4941C12.5233 23.1661 13.3614 22.328 13.3614 21.2988C13.3619 21.0575 13.0815 20.8858 12.8672 20.9935L11.5466 21.6533C11.0132 21.92 10.4153 22.0613 9.81846 22.0613H6.95796C6.58307 22.0613 6.21592 22.1899 5.9233 22.4246L4.51099 23.5553C4.51651 23.61 4.52755 23.6624 4.52755 23.7182V30.078L6.1734 31.3948C6.66092 31.7851 7.27322 31.9999 7.89766 31.9999H15.0177C15.3225 31.9999 15.5698 31.7526 15.5698 31.4478C15.5698 31.143 15.3225 30.8957 15.0177 30.8957H11.1529V29.7914H15.0177H16.122C16.4267 29.7914 16.6741 29.5441 16.6741 29.2393C16.6741 28.9346 16.4267 28.6872 16.122 28.6872Z" fill="#DDFFF9"/>
                <path d="M16.2505 13.228H5.39203L2.74243 17.6449H13.6009L16.2505 13.228Z" fill="#DDFFF9"/>
              </svg>
            </div>
            <div class="body">
              <div class="title">Best offers</div>
              <div class="description">
                What you want, delivered<br>
                to where you want
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="feature-item">
            <div class="icon">
              <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.2641 12.679L29.5599 1.39182C28.7645 0.0282585 27.2873 -0.350503 26.151 0.331276L8.27329 10.9746C7.28849 11.5427 6.87185 12.7169 7.32637 13.8911C5.77343 14.8759 3.2357 24.5723 3.2357 24.5723L1.03887 26.3904C0.546471 26.807 0.394965 27.4888 0.660101 28.0948L4.52349 35.2913C4.86438 35.8974 5.58404 36.1625 6.22794 35.8974C7.43999 35.3671 9.44747 34.6096 11.2655 34.3444C12.667 34.155 14.4093 32.7915 14.6744 32.4127C15.5835 31.3143 24.7875 19.9892 24.7875 19.9892C25.6965 18.8529 25.4693 17.1485 24.2572 16.3152C23.1588 15.5576 21.6437 15.8228 20.7726 16.8455L16.4168 22.186C15.735 23.0193 14.485 22.9057 13.9548 21.9967L11.6822 18.1711L30.8099 6.7703L34.6733 13.2472C34.8627 13.5881 34.749 14.0426 34.4081 14.2699L27.098 18.6257C27.098 18.6635 27.098 18.6635 27.098 18.7014C27.098 19.2696 26.9086 19.8377 26.5298 20.2922L22.0604 25.7843L22.174 25.9737C22.6285 26.807 23.6891 27.0721 24.5224 26.6176L24.7875 26.4661C25.6208 26.0116 25.9616 25.0268 25.7344 24.1556C25.9238 24.2314 26.1131 24.2314 26.3025 24.2314C26.6434 24.2314 26.9843 24.1556 27.2873 23.9663C28.2343 23.436 28.5751 22.186 28.0449 21.2391C28.2343 21.3149 28.4236 21.3149 28.6509 21.3149C28.9918 21.3149 29.3327 21.2391 29.6357 21.0498C30.5447 20.5574 30.8856 19.4211 30.469 18.512L35.2793 15.6713C36.4156 15.0274 36.7944 13.5502 36.2641 12.679ZM9.86411 15.1031L8.84144 13.3987C8.61418 13.0578 8.76569 12.6033 9.10658 12.376L26.9843 1.73269C27.3252 1.54331 27.7797 1.65694 28.007 1.99783L29.0297 3.70228L9.86411 15.1031Z" fill="#DDFFF9"/>
                <path d="M25.0214 13.6607L28.0179 11.8762C28.3209 11.7079 28.4219 11.3039 28.2536 11.0009L27.2435 9.2838C27.0752 8.98079 26.6712 8.8798 26.3682 9.04814L23.3717 10.8325C23.0687 11.0009 22.9677 11.4049 23.136 11.7079L24.1461 13.425C24.3144 13.728 24.7184 13.829 25.0214 13.6607Z" fill="#DDFFF9"/>
              </svg>
            </div>
            <div class="body">
              <div class="title">Secure payments</div>
              <div class="description">
                Pay with the world’s<br>
                top payment methods
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
