<div id="footer-2">
  <div class="container">
    <div class="grid-container">
      <div class="grid-item">
        <p class="footer-menu-header">Popular cities</p>
        <ul class="link-list">
          <% @popular_cities.each do |city| %>
            <li class="link-item">
              <a class="link" target="_blank"   href="/s?city=<%= city.address %>">
                <%= city.address %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="grid-item">
        <p class="footer-menu-header">Packaging categories</p>
        <ul class="link-list">
          <% @popular_categories.each do |category| %>
            <li class="link-item">
              <a class="link" target="_blank"   href="/s?category=<%= category.url %>">
                <%= category.display_name(locale) %>
              </a>
            </li>
          <% end %>
          <li class="link-item">
            <a class="link" target="_blank"   href="/s">View all categories</a>
          </li>
        </ul>
      </div>
      <div class="grid-item">
        <p class="footer-menu-header">About us</p>
        <ul class="link-list">
          <li class="link-item"><a class="link" target="_blank"   target="_blank" href="/about">About us</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="/how_to_use">How it works</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="/terms">Terms</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="/privacy">Privacy policy</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="/faq">FAQ</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="/invite">Invite users</a></li>
          <li class="link-item"><a class="link" target="_blank"   target="_blank"  href="#">Donate</a></li>
        </ul>
      </div>
      <div class="grid-item">
        <p class="footer-menu-header">Support</p>
        <ul class="link-list">
          <li class="link-item"><a class="link" target="_blank" href="mailto:info@boxgiver.com">info@boxgiver.com</a></li>
          <li class="link-item"><a class="link" target="_blank" href="/contact">Contact us</a></li>
          <li class="link-item"><a class="link" target="_blank" href="#">Help</a></li>
        </ul>
      </div>
      <div class="grid-item" style="text-align: start">
        <p class="footer-menu-header">
          <svg width="151" height="40" viewBox="0 0 151 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.9227 0.393555C25.3681 1.42885 24.5057 3.04188 23.9512 4.07507C23.3987 3.04399 22.5342 1.42674 21.9818 0.393555H4.677C5.04389 0.962861 5.46771 1.62283 5.90206 2.30178C6.56836 3.33708 7.26207 4.41665 7.81661 5.28116V18.6029C7.81661 19.5265 8.39436 20.3172 9.20826 20.6356C11.0891 21.3693 13.2124 21.751 15.2028 22.0462C17.3008 22.3561 19.3988 22.4616 21.5179 22.4088C23.6012 22.3561 25.6971 22.1748 27.755 21.8416C29.3427 21.5844 31.1245 21.2639 32.4824 20.3404C33.0369 19.9608 33.5261 19.4189 33.5493 18.7126V5.28116C34.1017 4.42087 34.7975 3.33919 35.4659 2.30178C35.9024 1.62283 36.3283 0.962861 36.6931 0.393555H25.9227ZM9.99685 4.4778V4.46937C9.82184 4.21423 8.91095 2.85633 8.71907 2.57168H20.6851C20.8432 2.87109 21.5538 4.20791 21.7014 4.4778H9.99685ZM22.8611 8.9458V10.5968C22.8653 10.6811 22.8653 10.7676 22.8611 10.854V18.0589C22.7873 19.1743 21.9544 19.8069 20.9254 20.041C19.6434 20.334 18.2623 20.1864 16.974 20.0051C15.4348 19.79 13.9124 19.4569 12.3858 19.1743C11.7491 19.0563 11.1123 18.896 10.6378 18.4342C10.2288 18.0378 9.99685 17.4938 9.99685 16.9245V8.80031C10.0137 7.61742 10.9752 6.66225 12.1623 6.65382C12.1623 6.65382 20.6851 6.65382 20.6851 6.65593C21.9143 6.64538 22.9307 7.71019 22.8611 8.9458ZM31.3711 17.0131C31.329 19.6952 25.0455 20.6862 25.0455 17.4221C25.0455 17.3926 25.0476 17.3631 25.0476 17.3336H25.0455V8.97321C24.957 7.73128 25.9796 6.64327 27.2194 6.65593V6.65382C28.8999 6.5505 31.3648 6.53996 31.3711 8.83194V17.0131ZM31.641 4.07507L31.3711 4.4778H26.2031C26.3423 4.21423 27.0634 2.86266 27.2194 2.57168H32.651L31.641 4.07507Z" fill="#00A589"/>
            <path d="M40.1638 25.3355C39.9909 25.0129 39.7463 24.7219 39.4195 24.4731C38.1818 23.5348 36.4338 23.9459 35.0611 24.2959C30.7428 25.3924 26.376 25.462 21.9481 25.3671C21.8848 25.365 21.8195 25.3671 21.7541 25.365C19.5043 25.2954 17.2566 25.1288 15.0215 24.8653C12.932 24.6186 10.9478 23.8131 8.84982 23.6043C7.00274 23.4209 5.23157 23.8742 4.05711 25.3966C2.63174 25.6096 1.35607 26.375 0.5 27.5178C0.590667 27.697 0.685547 27.8763 0.784648 28.0534C6.21204 37.9825 19.4474 42.518 29.8741 37.7126C31.7338 36.9578 33.4586 35.7664 35.0337 34.5392C36.672 33.2657 38.323 31.7939 39.4532 30.0206C39.5755 29.8351 39.6894 29.6432 39.7969 29.4492C40.4653 28.2389 40.8343 26.5711 40.1638 25.3355ZM12.1539 27.5157C12.1539 27.5157 10.9162 27.0961 10.9141 27.0961C9.99476 26.7819 8.13292 26.1494 7.21781 25.8373C8.23835 25.4978 9.26521 25.7614 10.29 26.084L12.5145 26.8009C12.3648 27.0244 12.2467 27.2648 12.1539 27.5157ZM37.7453 28.9748C37.7221 29.0064 37.701 29.0381 37.6778 29.0697C36.8913 30.1746 35.875 31.1382 34.8503 32.0195C34.302 32.4897 33.7327 32.9346 33.1445 33.3542C32.592 33.7485 32.0206 34.1175 31.4344 34.4633C28.7945 36.0152 25.8384 37.0189 22.7831 37.2909C22.6903 37.2993 22.5996 37.3057 22.5069 37.3141C21.6466 37.3773 20.7821 37.39 19.9197 37.3563C17.8681 37.274 15.8291 36.905 13.8829 36.2556C11.9346 35.6041 10.0791 34.67 8.41124 33.4681C6.75604 32.2768 5.29271 30.824 4.10138 29.1688H4.09927C4.06764 29.1245 4.03603 29.0802 4.0044 29.0359C3.93903 28.9453 3.25164 27.9437 3.27695 27.9269C3.69022 27.638 4.19838 27.5326 4.75504 27.5452C5.09662 27.5515 5.45507 27.6042 5.82196 27.6865C6.74128 27.8889 7.71122 28.2727 8.56518 28.6016C8.99321 28.7639 9.39382 28.9137 9.74173 29.017L12.2404 29.9026C12.778 31.1635 14.1001 31.9858 15.5023 31.8614V31.8719C18.138 31.8066 20.683 32.4919 22.8274 33.719C23.015 33.8266 23.2153 33.8835 23.4156 33.8793C23.578 33.8772 23.7382 33.8371 23.8964 33.757C24.2253 33.5862 24.5585 33.175 24.4847 32.7786C24.4741 32.7301 24.4551 32.6837 24.4341 32.6373C24.0524 31.7897 23.1584 31.3111 22.3403 30.9716C21.5981 30.6659 20.8263 30.4655 20.0504 30.2737C19.2492 30.0734 18.4416 29.9026 17.6214 29.8119C17.0816 29.755 16.5418 29.7444 15.9978 29.7444C15.4538 29.7297 14.6673 29.7191 14.3363 29.1983C14.332 29.192 14.3299 29.1878 14.3278 29.1814C13.866 28.4308 14.4185 27.6 15.2303 27.5536C19.5148 27.3091 23.7973 27.7287 28.0861 27.5621C30.998 27.4503 33.8361 27.0602 36.6257 26.2063C37.0642 26.0713 37.486 25.9048 37.9266 26.1494C39.0653 26.784 38.2809 28.2031 37.7453 28.9748Z" fill="#00A589"/>
            <path opacity="0.25" d="M12.1539 27.5157C12.1539 27.5157 10.9162 27.0961 10.914 27.0961C9.99472 26.782 8.13288 26.1494 7.21777 25.8373C8.23831 25.4979 9.26517 25.7614 10.2899 26.084L12.5144 26.8009C12.3647 27.0244 12.2466 27.2648 12.1539 27.5157Z" fill="#00A589"/>
            <path opacity="0.25" d="M31.3713 8.83214V10.7404C31.3649 8.44627 28.9 8.45892 27.2195 8.56224V8.56435C26.0851 8.5538 25.1321 9.46259 25.0456 10.5696V8.9734C24.9571 7.73147 25.9797 6.64347 27.2195 6.65612V6.65401C28.9 6.55069 31.3649 6.54015 31.3713 8.83214Z" fill="#00A589"/>
            <path opacity="0.25" d="M22.861 8.94579V10.5968C22.7872 9.47504 21.8279 8.55361 20.685 8.56415C20.685 8.56204 12.1623 8.56204 12.1623 8.56204C10.9752 8.57048 10.0137 9.52354 9.99683 10.7064V8.8003C10.0137 7.61741 10.9752 6.66224 12.1623 6.65381C12.1623 6.65381 20.685 6.65381 20.685 6.65592C21.9143 6.64538 22.9306 7.71019 22.861 8.94579Z" fill="#00A589"/>
            <path opacity="0.25" d="M32.6511 2.57178L31.6411 4.07517L31.3712 4.4779H26.2031C26.3423 4.21433 27.0634 2.86276 27.2194 2.57178H32.6511Z" fill="#00A589"/>
            <path opacity="0.25" d="M9.99701 4.4779V4.46947C9.82201 4.21433 8.91112 2.85643 8.71924 2.57178H20.6852C20.8434 2.87119 21.5539 4.20801 21.7015 4.4779H9.99701Z" fill="#00A589"/>
            <path opacity="0.25" d="M37.7451 28.9749C37.7219 29.0066 37.7008 29.0382 37.6776 29.0698C37.7788 28.5616 37.6776 28.0725 37.1273 27.7667C36.6866 27.5221 36.2649 27.6887 35.8263 27.8237C33.0367 28.6797 30.1986 29.0677 27.2867 29.1816C22.998 29.3481 18.7155 28.9264 14.4309 29.171C14.3951 29.1731 14.3614 29.1773 14.3276 29.1816C13.8659 28.4309 14.4183 27.6001 15.2301 27.5538C19.5146 27.3092 23.7971 27.7288 28.0859 27.5622C30.9978 27.4504 33.8359 27.0604 36.6255 26.2064C37.064 26.0715 37.4858 25.9049 37.9264 26.1495C39.0651 26.7841 38.2807 28.2032 37.7451 28.9749Z" fill="#00A589"/>
            <path d="M61.0454 19.809C65.5661 17.0616 62.4244 10.6537 56.9844 11.2103H48.5186V29.0465C53.1805 28.764 64.145 30.8324 63.6853 23.7541C63.6895 22.7652 63.0359 20.5723 61.0454 19.809ZM52.0082 21.4178C54.2053 21.675 59.8435 20.3551 60.1746 23.7267C59.9679 26.8389 53.8616 25.4261 52.0082 25.734V21.4178ZM56.9865 18.2824H52.0103V14.4449H56.9865C60.7586 14.6431 60.4086 18.5059 56.9865 18.2824Z" fill="#00A589"/>
            <path d="M71.5354 15.8917C62.9431 15.7145 62.9031 29.2851 71.5607 29.0448C80.2754 29.2704 80.2058 15.6998 71.5354 15.8917ZM71.5607 26.0106C67.1729 26.0169 67.194 18.9364 71.5607 18.9006C75.7799 18.9491 76.0309 26.0127 71.5607 26.0106Z" fill="#00A589"/>
            <path d="M87.1176 22.6429C87.1429 22.6049 91.1512 16.6926 91.1723 16.6609V16.4185H87.3263L84.9458 20.5154L82.5674 16.4185H78.7235V16.6609L82.7782 22.6429L78.4705 28.8272V29.0444H82.3122L84.9479 24.9813C84.9922 25.0487 87.5393 28.9791 87.5836 29.0444H91.4253V28.8272L87.1176 22.6429Z" fill="#00A589"/>
            <path d="M102.012 18.8792V21.4179H106.52V24.859C102.149 28.6249 95.5243 25.0003 96.0451 20.2729C95.7604 14.2762 102.672 11.5668 106.801 15.2398L108.566 13.4328C102.343 7.60269 92.6229 12.7222 93.2302 20.275C92.3551 27.733 103.467 32.5826 109.135 26.0082V18.8792H102.012Z" fill="#00A589"/>
            <path d="M112.892 11.7755C110.811 11.6574 110.811 15.05 112.892 14.9299C114.974 15.0479 114.976 11.6595 112.892 11.7755ZM111.572 17.0173V29.0465H114.21V17.0173H111.572Z" fill="#00A589"/>
            <path d="M126.571 16.9897C125.558 19.2712 123.665 24.3528 122.828 26.7417C121.984 24.3486 120.087 19.267 119.058 16.9897H116.18L121.308 29.0443H124.344L129.447 16.9897H126.571Z" fill="#00A589"/>
            <path d="M140.453 18.1182C136.867 14.3755 128.981 16.8741 129.449 22.641C128.96 28.8211 137.141 30.8896 141.084 27.2482L139.424 25.6077C137.181 27.5202 132.23 26.8433 132.158 23.6067H141.9C142.085 21.2241 141.6 19.3791 140.453 18.1182ZM132.171 21.4982C132.612 17.8398 139.348 17.6248 139.395 21.4982H132.171Z" fill="#00A589"/>
            <path d="M149.096 16.7893C148.059 16.979 147.07 17.6158 146.45 18.0923V17.0697H143.793V29.0462H146.433C146.787 25.8349 144.812 18.843 150.167 19.3765C150.167 18.9421 150.167 17.1034 150.167 16.707C149.737 16.6543 149.096 16.7893 149.096 16.7893Z" fill="#00A589"/>
          </svg>
        </p>
        <p class="sologan">
          The largest & most trusted marketplace
          to buy, sell, or donate packaging
          materials locally.
        </p>
        <div class="social-links">
          <p class="connect-text">Connect with us</p>
          <span class="social-link">
            <a target="_blank" href="https://www.facebook.com/theboxgiver"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href="https://twitter.com/box_giver"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC00ylXdA7xnHbD-KJ9WDI5w"><i class="fab fa-youtube"></i></a>
            <a target="_blank" href="https://www.instagram.com/box_giver/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://g.page/boxgiver?we"><i class="fab fa-google"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/boxgiver"><i class="fab fa-linkedin"></i></a>
          </span>
        </div>
      </div>
    </div>
    <div class="copy-right border-top py-4">
      <p>© BoxGiver 2021. All rights reserved.</p>
    </div>
  </div>
</div>
