<div class="section">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="section-header dynamic-item-header">Most Viewed Listings</h2>
      <a class="view-all-button-top" href="/s">View All</a>
    </div>
    <div class="landing-listings">
      <div class='col-lg-12 p0'>
        <div class='row'>
          <% @most_viewed_listings.each do |listing| %>
            <%= render "landing_listing", listing: listing %>
          <% end %>
        </div>
        <a class="view-all-button-bottom d-none" href="/s">View All</a>
      </div>
    </div>
  </div>
</div>
