<div class="section" id="new-listings">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="section-header">New Listings</h2>
      <a class="view-all-button" href="/s">View All</a>
    </div>
    <div class="grid-container" id="new-listings">
      <% @new_listings.each do |listing| %>
        <div class="grid-item">
          <a class="list-item-card text-decoration-none" href="/listings/<%= listing.slug %>">
            <div class="list-item-header d-flex justify-content-center">
              <div class="icon">
                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.2466 0C15.9075 0.633105 15.3801 1.61951 15.041 2.25132C14.7031 1.6208 14.1745 0.631815 13.8366 0H3.25439C3.47875 0.348143 3.73793 0.75173 4.00355 1.16692C4.411 1.80003 4.83522 2.46021 5.17433 2.98887V11.1354C5.17433 11.7002 5.52764 12.1837 6.02535 12.3784C7.17552 12.8271 8.47396 13.0605 9.69117 13.241C10.9741 13.4306 12.2571 13.4951 13.553 13.4628C14.8269 13.4306 16.1086 13.3197 17.3671 13.116C18.338 12.9587 19.4276 12.7627 20.258 12.1979C20.5971 11.9658 20.8962 11.6344 20.9104 11.2025V2.98887C21.2482 2.46279 21.6737 1.80132 22.0825 1.16692C22.3494 0.75173 22.6099 0.348143 22.8329 0H16.2466ZM6.5076 2.4976V2.49245C6.40057 2.33643 5.84355 1.50604 5.72621 1.33197H13.0437C13.1404 1.51507 13.5749 2.33256 13.6652 2.4976H6.5076ZM14.3743 5.22988V6.2395C14.3769 6.29108 14.3769 6.34394 14.3743 6.39681V10.8028C14.3292 11.4849 13.8199 11.8717 13.1907 12.0148C12.4067 12.194 11.5621 12.1038 10.7743 11.9929C9.833 11.8614 8.90205 11.6576 7.96851 11.4849C7.57911 11.4126 7.1897 11.3147 6.89958 11.0323C6.64943 10.7899 6.5076 10.4572 6.5076 10.109V5.14091C6.51791 4.41755 7.10589 3.83344 7.83183 3.82828C7.83183 3.82828 13.0437 3.82828 13.0437 3.82957C13.7954 3.82313 14.4169 4.47428 14.3743 5.22988ZM19.5784 10.1632C19.5526 11.8033 15.7102 12.4094 15.7102 10.4133C15.7102 10.3953 15.7115 10.3772 15.7115 10.3592H15.7102V5.24664C15.656 4.48718 16.2814 3.82184 17.0396 3.82957V3.82828C18.0672 3.7651 19.5746 3.75866 19.5784 5.16026V10.1632ZM19.7435 2.25132L19.5784 2.4976H16.4181C16.5032 2.33643 16.9442 1.50991 17.0396 1.33197H20.3611L19.7435 2.25132Z" fill="#00A589"/>
                  <path d="M24.9552 15.2525C24.8495 15.0552 24.6999 14.8773 24.5 14.7252C23.7432 14.1514 22.6742 14.4028 21.8348 14.6168C19.1941 15.2873 16.5237 15.3299 13.8159 15.2719C13.7772 15.2706 13.7373 15.2719 13.6973 15.2706C12.3215 15.228 10.947 15.1262 9.58018 14.965C8.30237 14.8141 7.08902 14.3216 5.80605 14.1939C4.67652 14.0817 3.59341 14.359 2.8752 15.2899C2.00355 15.4201 1.22346 15.8882 0.699951 16.5871C0.755396 16.6967 0.813417 16.8063 0.87402 16.9146C4.19298 22.9865 12.2867 25.76 18.6628 22.8214C19.8001 22.3598 20.8549 21.6313 21.8181 20.8808C22.8199 20.102 23.8296 19.202 24.5207 18.1176C24.5955 18.0041 24.6651 17.8868 24.7309 17.7682C25.1396 17.0281 25.3652 16.0081 24.9552 15.2525ZM7.82657 16.5858C7.82657 16.5858 7.06968 16.3292 7.06839 16.3292C6.5062 16.1371 5.36765 15.7502 4.80804 15.5594C5.43212 15.3518 6.06007 15.513 6.68672 15.7103L8.04706 16.1487C7.95551 16.2853 7.8833 16.4323 7.82657 16.5858ZM23.4762 17.4781C23.4621 17.4974 23.4492 17.5167 23.435 17.5361C22.954 18.2117 22.3325 18.801 21.7059 19.34C21.3706 19.6275 21.0225 19.8996 20.6627 20.1562C20.3249 20.3973 19.9755 20.623 19.617 20.8344C18.0027 21.7834 16.1949 22.3972 14.3265 22.5635C14.2698 22.5687 14.2144 22.5726 14.1576 22.5777C13.6315 22.6164 13.1029 22.6241 12.5755 22.6035C11.3209 22.5532 10.074 22.3276 8.88389 21.9304C7.69247 21.532 6.55778 20.9608 5.53785 20.2258C4.52565 19.4973 3.6308 18.6089 2.90227 17.5967H2.90098C2.88164 17.5696 2.86231 17.5425 2.84297 17.5155C2.80299 17.46 2.38264 16.8475 2.39811 16.8372C2.65084 16.6606 2.96159 16.5961 3.302 16.6038C3.51088 16.6077 3.73009 16.6399 3.95444 16.6902C4.51663 16.814 5.10977 17.0487 5.63198 17.2498C5.89373 17.3491 6.13872 17.4407 6.35147 17.5038L7.87944 18.0454C8.20824 18.8165 9.0167 19.3194 9.87416 19.2433V19.2497C11.4859 19.2097 13.0423 19.6288 14.3536 20.3793C14.4684 20.445 14.5909 20.4798 14.7134 20.4772C14.8126 20.476 14.9106 20.4515 15.0073 20.4025C15.2085 20.298 15.4122 20.0466 15.3671 19.8042C15.3606 19.7745 15.349 19.7461 15.3361 19.7178C15.1028 19.1994 14.556 18.9067 14.0557 18.6991C13.6019 18.5122 13.1299 18.3897 12.6554 18.2723C12.1655 18.1498 11.6716 18.0454 11.17 17.99C10.8399 17.9551 10.5099 17.9487 10.1772 17.9487C9.84451 17.9397 9.36356 17.9332 9.16112 17.6147C9.15854 17.6109 9.15725 17.6083 9.15596 17.6044C8.87357 17.1454 9.21141 16.6374 9.70783 16.609C12.3279 16.4594 14.9467 16.716 17.5694 16.6141C19.3501 16.5458 21.0857 16.3073 22.7916 15.7851C23.0598 15.7025 23.3177 15.6007 23.5871 15.7502C24.2834 16.1384 23.8038 17.0061 23.4762 17.4781Z" fill="#00A589"/>
                  <path opacity="0.25" d="M7.82663 16.5858C7.82663 16.5858 7.06974 16.3292 7.06845 16.3292C6.50627 16.1371 5.36771 15.7502 4.80811 15.5594C5.43218 15.3518 6.06013 15.513 6.68679 15.7103L8.04713 16.1487C7.95558 16.2853 7.88337 16.4323 7.82663 16.5858Z" fill="#00A589"/>
                  <path opacity="0.25" d="M19.5783 5.16031V6.32724C19.5744 4.92435 18.0671 4.93209 17.0395 4.99527V4.99656C16.3457 4.99011 15.7629 5.54585 15.7101 6.22279V5.2467C15.6559 4.48724 16.2813 3.8219 17.0395 3.82963V3.82834C18.0671 3.76516 19.5744 3.75872 19.5783 5.16031Z" fill="#00A589"/>
                  <path opacity="0.25" d="M14.3743 5.22984V6.23946C14.3292 5.55349 13.7425 4.99001 13.0436 4.99646C13.0436 4.99517 7.8318 4.99517 7.8318 4.99517C7.10586 5.00033 6.51788 5.58315 6.50757 6.30651V5.14087C6.51788 4.41751 7.10586 3.8334 7.8318 3.82825C7.8318 3.82825 13.0436 3.82825 13.0436 3.82954C13.7954 3.82309 14.4169 4.47425 14.3743 5.22984Z" fill="#00A589"/>
                  <path opacity="0.25" d="M20.361 1.33203L19.7434 2.25139L19.5783 2.49767H16.418C16.5031 2.33649 16.9441 1.50997 17.0395 1.33203H20.361Z" fill="#00A589"/>
                  <path opacity="0.25" d="M6.50746 2.49767V2.49251C6.40044 2.33649 5.84341 1.5061 5.72607 1.33203H13.0435C13.1402 1.51513 13.5748 2.33262 13.665 2.49767H6.50746Z" fill="#00A589"/>
                  <path opacity="0.25" d="M23.4762 17.4781C23.462 17.4975 23.4491 17.5168 23.435 17.5361C23.4969 17.2254 23.435 16.9263 23.0984 16.7393C22.8289 16.5897 22.5711 16.6916 22.3029 16.7741C20.597 17.2976 18.8614 17.5349 17.0807 17.6045C14.458 17.7064 11.8392 17.4485 9.21911 17.598C9.19719 17.5993 9.17656 17.6019 9.15593 17.6045C8.87355 17.1455 9.21138 16.6374 9.70781 16.6091C12.3279 16.4595 14.9467 16.7161 17.5694 16.6142C19.3501 16.5459 21.0856 16.3073 22.7915 15.7851C23.0597 15.7026 23.3176 15.6007 23.5871 15.7503C24.2834 16.1384 23.8037 17.0062 23.4762 17.4781Z" fill="#00A589"/>
                </svg>
              </div>
              <div class="created-date">
                <div class="brand-name">BoxGiver</div>
                <div class="days-ago">
                  <%= distance_of_time_in_words(listing.created_at, Time.now) %> ago
                </div>
              </div>
            </div>
            <div class="list-item-card-img" style="background-image: url('<%= listing.get_first_listing_image %>')">
            </div>
            <div class="list-item-card-body">
              <p class="list-item-card-title"><%= listing.title %></p>
            </div>
            <div class="list-item-card-footer">
              <p class="list-item-card-price">74,95 $</p>
              <p class="list-item-card-pre-price">
                <del>121,00 $</del>
              </p>
            </div>
            <div class="list-item-card-ratings d-block">
              <span class="rating-star"><i class="fas fa-star"></i></span>
              <span class="rating-star"><i class="fas fa-star"></i></span>
              <span class="rating-star"><i class="fas fa-star"></i></span>
              <span class="rating-star"><i class="fas fa-star"></i></span>
              <span class="rating-star"><i class="fas fa-star"></i></span>
              <span class="rating-count">(45)</span>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%#= content_for :javascript do %>
<!--<script  type="text/javascript">-->
<!--  setTimeout(function() {-->
<!--      $(document).ready(function(){-->
<!--          $('#new-listings').slick({-->
<!--              dots: true,-->
<!--              infinite: false,-->
<!--              speed: 300,-->
<!--              slidesToShow: 5,-->
<!--              slidesToScroll: 4,-->
<!--              responsive: [-->
<!--                  {-->
<!--                      breakpoint: 1024,-->
<!--                      settings: {-->
<!--                          slidesToShow: 3,-->
<!--                          slidesToScroll: 3,-->
<!--                          infinite: true,-->
<!--                          dots: true-->
<!--                      }-->
<!--                  },-->
<!--                  {-->
<!--                      breakpoint: 600,-->
<!--                      settings: {-->
<!--                          slidesToShow: 2,-->
<!--                          slidesToScroll: 2-->
<!--                      }-->
<!--                  },-->
<!--                  {-->
<!--                      breakpoint: 480,-->
<!--                      settings: {-->
<!--                          slidesToShow: 1,-->
<!--                          slidesToScroll: 1-->
<!--                      }-->
<!--                  }-->
<!--              ]-->
<!--          });-->
<!--      });-->
<!--  }, 1500)-->
<!--</script>-->
<%# end %>
