<div class="col-lg-3 col-md-4 col-6">
  <a class="text-decoration-none" href="/s?category=<%= category.url %>">
    <div class="popular-item-image" style="background-image: url('<%= category.image ? category.image : asset_path('no_image_available.jpg') %>')"></div>
    <div class="category-name">
      <b>
        <%= category.display_name(locale) %>
      </b>
    </div>
  </a>
</div>
