<div class="section">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="section-header dynamic-item-header">Popular Categories</h2>
      <a class="view-all-button-top" href="/s">View All</a>
    </div>
    <div class='col-lg-12 p0'>
      <div class="row m-0 list popular-category-list">
        <%= render partial: "popular_category_item", collection: @popular_categories, as: :category %>
        <a class="view-all-button-bottom d-none" href="/s">View All</a>
      </div>
    </div>
  </div>
</div>
