<div class="section" id="recycle-process">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-header">
          Participate in the circular economy by reducing & reusing packaging waste
        </h2>
        <p class="description">
          You can maximize the life cycle of packaging materials. We<br>
          make it as easy as possible for consumers and businesses to<br>
          participate in the conservation of Earth’s resources.
        </p>
        <a class="view-all-button learn-more" href="/about">Learn more</a>
      </div>
      <div class="col-md-6">
        <div class="process-img">
          <%= image_tag('landing_page/recycle_process.png') %>
          <!--          <img src="/assets/images/recycle_process.png"/>-->
        </div>
      </div>
    </div>
  </div>
</div>
