<div id="subscribe">
  <div class='subscribe-content'>
    <h2 class="section-header text-center text-white">Stay in the Loop</h2>
    <p class="subscribe-text">Sign up to receive updates and exclusive information from BoxGiver. Take action against
      packaging waste today!</p>
    <div class="search-section">
      <div class="custom-search">
        <input type="text" class="custom-search-input" placeholder="Enter your email">
        <button class="custom-search-botton" type="submit">
          <span class="text">Subscribe</span>
          <span class="icon">
                <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g filter="url(#filter0_d_1253:34)">
                    <rect x="12.2461" y="2" width="32" height="32" rx="16" fill="white"/>
                  </g>
                  <path d="M23.2461 24.1657L29.4295 18.2222L23.2461 12.2787L25.1544 10.4444L33.2461 18.2222L25.1544 26L23.2461 24.1657Z" fill="#00A589"/>
                  <defs>
                    <filter id="filter0_d_1253:34" x="0.246094" y="0" width="56" height="56" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                      <feMorphology radius="8" operator="erode" in="SourceAlpha" result="effect1_dropShadow_1253:34"/>
                      <feOffset dy="10"/>
                      <feGaussianBlur stdDeviation="10"/>
                      <feColorMatrix type="matrix" values="0 0 0 0 0.725 0 0 0 0 0.258384 0 0 0 0 0.166146 0 0 0 0.19 0"/>
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1253:34"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1253:34" result="shape"/>
                    </filter>
                  </defs>
                </svg>
              </span>
        </button>
      </div>
    </div>

  </div>
</div>
