/**
  Contains styles for listing grid's image part
*/

@import "mixins/all";

.fluid-thumbnail-grid-image-image-container {
  position: relative;
  color: $background;

  &:hover {
    color: $highlight;
  }

  @include block-with-aspect-ratio(3/2);

  &.people-listings {
    @include block-with-aspect-ratio(4/3);
  }
}

.fluid-thumbnail-grid-image-title {
  position: absolute;
  bottom: 0;
  padding: lines(0.5);
  line-height: 1.2em;
}

.home-fluid-thumbnail-grid-item {
  position: relative;

  .fluid-thumbnail-grid-image-title {
    width: 100%;
    bottom: auto;
    padding-top: calc(66.66667% + 12px);
    z-index: 1;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
  }

  .home-fluid-thumbnail-grid-author {
    display: flex;
    height: auto;
    padding: 60px 0.75em 6px 0.75em;
    align-items: center;

    .home-fluid-thumbnail-grid-author-avatar {
      padding: 0;
    }

    .home-fluid-thumbnail-grid-author-name {
      position: relative;
      left: 6px;
      top: 0;
      bottom: 0;
    }
  }
}

.fluid-thumbnail-grid-image-overlay {
  @include border-top-radius($default-border-radius);
  @include overlay;
  @include absolutely-all;
}

.fluid-thumbnail-grid-image-image {
  @include border-top-radius($default-border-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fluid-thumbnail-grid-image-price-container {
  @include listing-price;
  font-size: 12px; // Quantity placeholder font-size, so that the ellipsis looks nice
  max-width: 75%;
  @include ellipsis;
}

.fluid-thumbnail-grid-image-price {
  font-size: 18px; // Bigger size for the price
}

.fluid-thumbnail-grid-image-type {
  font-size: 16px;
}
