// The fonts file has to be the first one, since there are @imports in the fonts file
//= require ./fonts

// Vendor
//= require jquery.nouislider
//= require jquery.fileupload
//= require jquery.ui.tooltip
//= require datepicker3
//= require selectize
//= require _custom_footer

//= require ./reset
//= require ./main

//= require_tree ./partials
//= require_tree ./views

*:focus {
  outline: none !important;
}

.love-count {
  font-size: 18px;
  color: #888888;
}

.clear-both {
  clear: both;
}

.stripe-payment-form {
  .form-group {
    margin-bottom: 15px;
  }

  .top-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  .input-group {
    input:focus {
      outline: none;
    }

    input[name='card_country'] {
      border-bottom-width: 1px;
      border-radius: 0.3125em 0.3125em 0 0;
    }

    input[name='card_region'] {
      border-top-width: 1px;
      border-radius: 0 0 0.3125em 0.3125em;
    }
  }
}

.paypal-button-wrapper {
  .checkout-with-stripe-button {
    width: 100%;
    font-weight: bold;
    background: #01a58a;
  }
}

@media (min-width: 48em) {
  .box-row {
    margin: 0 -15px 0 -15px;

    [class*=col-]:first-child {
      padding-left: 15px;
    }
  }

  #related-listing {
    .related-listing-item {
      margin-bottom: 30px;
    }
  }
}
