<%= link_to(listing_path(listing.url), :class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do %>
  <div class="<%= modifier_class %> listing-image-wrapper">
    <% with_first_listing_image(listing) do |first_image_url| %>
      <%= image_tag first_image_url, { :alt => listed_listing_title(listing), :class => "#{modifier_class}" } %>
    <% end %>
    <% if listing.sponsored == true %>
      <div class='promoted-text'>Promoted</div>
    <% end %>
  </div>
<% end %>
